$color-light:#8c0303;
$bold:600;
$overloap-bg:rgba(0,0,0,.8);
$border:1px solid #ccc;



%box-shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: 0;
}
%text-button{
    background:$color-light;
    color: #fff;
    border-color: $color-light;
    font-size: 16px;
    font-weight: $bold;
    margin-top: 10px;
}
%text-btn {
    border: none;
    background: none;
}
body{
    &.modals {
        overflow: hidden;
    }
    a{
        cursor: pointer;
        text-decoration: none !important;
    }
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
}
.header{
    box-shadow: 0px 0px 20px -10px;
    .user-profile{
        position: relative;
        .user-name {
            font-size: 37px;
            text-align: right;
            button{
                @extend %text-btn;
            }
        }
        .drop-down {
            position: absolute;
            top: 55px;
            z-index: 9;
            background-color: #fff;
            border-radius: 4px;
            width: 170px;
            box-shadow: 0 0 3px -1px;
            padding: 10px 5px;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                a {
                    padding: 5px 15px 5px 15px;
                    display: inline-block;
                    i{
                        margin: 3px 5px;
                    }
                }
            }
        }
    }
}
.logo-text a {
    color:$color-light;
    font-size: 30px;
    font-weight: $bold;
}
.menu .navbar-nav {
    margin: auto;
}
a.nav-link {
    color: $color-light;
    font-size: 16px;
}
.login-details {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.login button {
    border-color: $color-light;
    color: $color-light;
    border-radius: 4px;
}
.signup button {
    background: $color-light;
    border-color: $color-light;
    border-radius: 4px;
    color: #fff;
}
.banner img {
    max-width: 100%;
}
.home-banner {
    position: relative;
}
.banner-search {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 500px;
    margin: auto;
    display: table;
    transform: translatey(-50%);
   
}
.search {
    background: #8e9da2d6;
    padding: 25px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.search input[type="search"] {
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: none;
    width: 80%;
}
input[type="button"] {
    background: $color-light;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
}
.blog{
    margin: 50px auto;
    // .left-sidebar{
    // // border-right: $border;
    // }
    // .right-sidebar{
    //     // border-left: $border;
    // }
    .blogs{
        .blog-item{
            .title {
                font-size: 30px;
                margin-bottom: 20px;
            }
            .content {
                line-height: 30px;
                font-size: 16px;
            }
        }
    }
}
.create-blog{
    .text-editor {
        height: 500px;
        padding: 40px 0;
        margin-bottom: 40px;
    }
    .page--title {
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
    }
    .title-text{
        input[type="text"] {
            border-radius: 5px;
            padding: 10px;
            border: 1px solid #ccc;
            width: 100%;
        }
    }
    .submit-blog{
        margin-bottom: 30px;
        text-align: center;
        button{
           @extend %text-button;
           border-radius: 5px;
           padding: 10px;
        }
    }
    
}
footer {
    text-align: center;
    padding: 30px;
    background-color: #252942;
    color: #d6d6d6;
    .f-upper{
        padding-bottom: 30px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0px;
        }
        li {
            display: inline-block;
            padding: 0 10px;
            border-right: 1px solid;
            color: #ccc;
            line-height: 15px;
            &:last-child{
                border: none;
            }
            a{
                color: #a7a7a7;
                &:hover{
                    color: #ccc;
                }
            }
        }
    }
    .f-lower {
        border-top: 1px solid #000000;
        box-shadow: 0px -1px 0px 0px #484141;
        padding-top: 30px;
    }
}
//================login page detail=========================
.login-page {
    @extend %box-shadow;
    .login {
        width: 500px;
        margin: 10px auto;
        max-width: 100%;
        background: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 0 10px -2px;
        position: relative;
    }
    .login input {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
    }
    .textbox {
        margin-bottom: 20px;
    }
    .logo-icon {
        color: $color-light;
        font-size: 30px;
        font-weight: $bold;
        text-align: center;
        margin-bottom: 20px;
    }
    .header-close {
        text-align: right;
        position: absolute;
        right: 15px;
        top: 15px;
        a{
            cursor: pointer;
        }
    }
    .submit-btn input {
        @extend %text-button
    }
}
.overloap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: $overloap-bg;
}
